@forward "mexin";
@use "typography" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

//colors
$Green: hsl(75, 94%, 57%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 20%);
$Dark-Grey: hsl(0, 0%, 12%);
$Off-Black: hsl(0, 0%, 8%);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $Off-Black;
  font-family: "Inter", sans-serif;
}

//layout
main {
  width: min(100% - rem(20), rem(375));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);
  color: $White;

  background-color: $Dark-Grey;
  padding: rem(30);

  border-radius: rem(10);

  img {
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(10);
    text-align: center;

    strong {
      color: $Green;
    }

    p {
      margin-top: rem(15);
      margin-bottom: rem(10);
    }
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      list-style-type: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      gap: rem(15);

      li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: rem(10);
        overflow: hidden;

        background-color: $Grey;

        a {
          color: $White;
          width: 100%;
          text-align: center;
          padding: rem(10);
          transition: all 0.15s ease;

          &:is(:focus, :hover) {
            background-color: $Green;
            color: $Dark-Grey;
          }
        }
      }
    }
  }
}
